body{
  margin:0
}

#myVideo {
  display: none;
}

#drawingCanvas {
  display: none;
}

#handCanvas {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}
#messages{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#wait{
  padding-top: 20vh;
  height: 60vh;
  width: auto;
  text-align: center;
}

.wait-input{
  margin-top: 6vh;
  margin-bottom: 2vh;
}

.footer-text {
  text-align: center;
  height: 20vh;
}

.nav-bar {
  height: 10vh;
}

.lobby-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 20vh;
  width: 20vw;
}

.lobby-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 60vh;
}

.lobby-input, .lobby-button, .lobby-status {

  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  width: 15em;
}

.lobby-button {
  background-color:goldenrod;
  text-align: center;
}

.lobby-status {
  height:fit-content;
}

h1 {
  padding-top: 5vh;
  text-align: center;
  color: dodgerblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

a{
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-lobby {
  color: dodgerblue;
}

/* testing for chat */

#drawing-game {
  height: 70vh;
}

#chat-window {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 25vh;
}

#chat-title {
  font-weight: bold;
  min-height: 10%;
}

#message-list {
  border: 1px solid black;
  min-height: 70%;
  overflow-y: scroll;
}

#create-message {
  display: flex;
  border: 1px solid black;
  min-height: 20%;
}

#message-draft {
  width: 70%;
  height: 100%
}

#message-send {
  width: 30%;
  height: 100%
}

#input-div {
  background-color: #DED4D3;
  height: 5%;
}
#typing-row {
  height: 3%;
  font-weight: lighter;
  font-size: small;
  color: #BBA0A1;
  vertical-align: bottom;
}
#typing-placeholder {
  height: 100%;
  padding-left: 10px;
}

#input-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  background-color: #DED4D3;
  color: #644F52;
  font-weight: 300;
  border: 0;
  resize: none;
}
.with-shadow {
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
}

.own-message {
  background-color: #DDD3D2;
}
.message-info-row {
  padding-top: 0.7vh;
  padding-bottom: 0.5vh;
}
.message-body {
  word-break: break-all;
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
  font-weight: 300;
  color: #644F52;
}
.message-username {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: normal;
  font-weight: 400;
  color: #5C5153;
}
