body{
  margin:0
}

#myVideo {
  display: none;
}

#drawingCanvas {
  display: none;
}

#handCanvas {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}
#messages{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 75vh;
  overflow-y: auto;
}

#wait{
  height: 60vh;
  width: auto;
  text-align: center;
}

.wait-input{
  margin-top: 6vh;
  margin-bottom: 2vh;
}

.footer-text {
  text-align: center;
  height: 20vh;
}

.nav-bar {
  height: 10vh;
}

header {
  position: fixed;
  top:0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
}

.lobby-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 20vw;
}

.lobby-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: fit-content;
}

.lobby-input, .lobby-button, .lobby-status {

  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  width: 15em;
}

.lobby-button {
  background-color:goldenrod;
  text-align: center;
}

.lobby-status {
  height:fit-content;
}

h1, h3, h4 {
  text-align: center;
  color: dodgerblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.instructions{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 15rem;
}

a{
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-lobby {
  color: dodgerblue;
}
